{% extends 'base.html' %} {% block title%} Regster Page {% endblock%} {% block content %}

<body class='text-center'>
    <h1>Register, Page!</h1>

    <div class="container">

        <form method="POST" class="form-regiser" style="color: wheat;">
            {{form.hidden_tag()}}
            <h1 class='h3 mb-3 font-weight-normal'>
                Please Create Your Account:
            </h1>
            {{form.username.label()}} {{form.username(class="form-control",placeholder='User Name')}} {{form.email_address.label()}} {{form.email_address(class="form-control",placeholder='Email')}} {{form.password1.label()}} {{form.password1(class="form-control",placeholder='Password')}}
            {{form.password2.label()}} {{form.password2(class="form-control",placeholder='Confirm Password')}}

            <div class="check-box mb-3">
                <h6>Already have an account?</h6>
                <a href="{{url_for('login_page')}}" class="btn btn-sm btn-secondary">login</a>
            </div>
            {{form.submit(class="btn btn-lg btn-block btn-primary")}}

        </form>
    </div>
</body>
{% endblock %}